body{
    text-align: center;
}
.header_div{
width: 80vw;
border-radius: 45px;
background-color: #fff;
padding:15px 20px;
display: flex;
justify-content: space-evenly;
}
.search__btn{
    padding:10px 15px;
    border:1px solid black;
    border-radius:20px;
    background-color: #EFFFFD;
    transition: all .35ms ease-in;
}
.search__btn:hover{
    background-color: #C06C84;
    color:white;
    font-weight: bold;
    border-color:white ;
}